<html lang="en" class="full-height">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Hello World</title>

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://assets.azalelnation.com/bootstrap-material-design/css/addons/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css"/>

</head>

<body>

<main>
    <nav class="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>Stream Server</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav my-2 my-lg-0 mr-auto">
                </ul>

                <ul class="navbar-nav my-2 my-lg-0 ml-auto">
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="mask flex-center text-white" id="con">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb black">
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </nav>
            <div class="elegant-color pt-5 px-5">
                <table id="list" class="table table-hover table-striped btn-table table-responsive-lg text-white mb-0">
                    <thead>
                    <th style="width:50px;">No.</th>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="/default" class="text-white">1.</a></td>
                        <td><a href="/default" class="text-white"><%= udir %></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
</main>
<footer class="page-footer font-small black">
    <div class="footer-copyright text-center py-3">
        © 2020 <a href="https://github.com/ItzMeDwii/" target="_blank"> DwiiUnknown </a>
    </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
<script type="text/javascript" src="https://assets.azalelnation.com/font-awesome/js/all.min.js"></script>
<script src="https://assets.azalelnation.com/bootstrap-material-design/js/addons/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#list').DataTable({
            "pagingType": "simple_numbers",
            columnDefs: [{
                orderable: true,
                targets: 1
            }]
        });
        $('.dataTables_length').addClass('bs-select');
    });

</script>
</body>
</html>